*~
/anaconda-mode/
/bookmarks
/.cache/
/.cask/
/.dap-breakpoints
/elpa/
/emojis/
/ensime/
/forge-database.sqlite
/lsp-cache/
/meghanada/
/network-security.data
/.org-id-locations
/org-roam.db
projectile-bookmarks.eld
/projectile.cache
/recentf
/request/
/server/
/straight/
/tramp
/transient/
/url/
/var/
/workspace/
