*~
/anaconda-mode/
/bookmarks
/.cache/
/.cask/
/code-review-error.log
/.dap-breakpoints
/code-review-db-file.sqlite
/eclipse.jdt.ls/
/elpa/
/eln-cache/
/emojis/
/ensime/
/forge-database*.sqlite
/lombok.jar
/lsp-cache/
/.lsp-session-v1
/mastodon.plstore
/meghanada/
/network-security.data
/.org-id-locations
/org-roam.db
projectile-bookmarks.eld
/projectile.cache
/projects
/recentf
/request/
/server/
/session.*
/straight/
/tramp
/transient/
/tree-sitter/
/url/
/var/
/workspace/
